<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">

            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="text-center container">
                    <img src="../../../assets/sign.png" alt="" srcset="">
                </div>
                <h3 class="text-center">Registre-se aqui</h3>
                
                <!-- {{user | json}} -->
                <form (ngSubmit)="formSubmit()" class="text-center" style="width: 100%;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]="user.username" required name="username" matInput placeholder="Coloque aqui seu nome de usuário">
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>



                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="user.password" required name="password" type="password"  matInput placeholder="Sua senha">
                    </mat-form-field>



                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password Confirm</mat-label>
                        <input type="password" matInput placeholder="Confirme sua senha">
                    </mat-form-field>



                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input [(ngModel)]="user.firstName" required name="firstname" matInput placeholder="Digite seu primeiro nome">
                    </mat-form-field>



                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input [(ngModel)]="user.lastName" required name="lastname" matInput placeholder="Digite seu segundo nome">
                    </mat-form-field>


                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="user.email" required name="email" type="email" matInput placeholder="exemplo@gmail.com">
                    </mat-form-field>


       
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input [(ngModel)]="user.phone" required name="phone" type="number" matInput placeholder="Telefone">
                    </mat-form-field>


                <div class="container">
                    <div class="text-center">
                        <button type="submit" class="espacamento" mat-raised-button color="primary">Registrar</button>
                        <button class="espacamento" mat-raised-button color="warn">Cancelar</button>
                    </div>
                </div>

                </form>
            </mat-card>
            </div>
            

        </div>
    </div>
</div>
