<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">

            <div class="col-md-6 offset-md-3">
                <div class="text-center container">
                    <img src="../../../assets/sign.png" alt="" srcset="">
                </div>
                <h3 class="text-center">Registre-se aqui</h3>

                <form class="text-center" style="width: 100%;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input  matInput placeholder="Coloque aqui seu nome de usuário">
                    </mat-form-field>
                </form>

                <form class="text-center" style="width: 100%;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password"  matInput placeholder="Sua senha">
                    </mat-form-field>
                </form>

                <form class="text-center" style="width: 100%;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password Confirm</mat-label>
                        <input type="password" matInput placeholder="Confirme sua senha">
                    </mat-form-field>
                </form>

                <form class="text-center" style="width: 100%;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input  matInput placeholder="Digite seu primeiro nome">
                    </mat-form-field>
                </form>

                <form class="text-center" style="width: 100%;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input  matInput placeholder="Digite seu segundo nome">
                    </mat-form-field>
                </form>

                <form class="text-center" style="width: 100%;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="exemplo@gmail.com">
                    </mat-form-field>
                </form>

                <form class="text-center" style="width: 100%;">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input  type="number" matInput placeholder="Telefone">
                    </mat-form-field>
                </form>

                <div class="container">
                    <div class="text-center">
                        <button class="espacamento" mat-raised-button color="primary">Registrar</button>
                        <button class="espacamento" mat-raised-button color="warn">Cancelar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
