<form>
    <h1>DELETANDO CATEGORIA</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput   name="nome" type="text" disabled>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea   rows="10" style="resize: none;" cols="50" matInput name="descricao" type="text" disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button  mat-stroked-button color="primary" class="mat-elevation-z8">Deletar </button>
        <span></span>
        <button  mat-stroked-button color="warn" class="mat-elevation-z8">Cancelar </button>
    </div>
</form>

