<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class=" container text-center form">
                    <div class="container text-center ">
                        <img src="../../../assets/login.png" alt="" >
                    </div>

                    <h1 class="text-center mb10"> Login </h1>
                    {{loginData | json}}
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="full-width mb20" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input [(ngModel)]="loginData.username" name="username" required matInput placeholder="Coloque aqui seu nome de usuário">
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="full-width mb20" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input [(ngModel)]="loginData.password" name="password" type="password" required matInput placeholder="Digite sua senha usuário">
                            <mat-hint>Hint</mat-hint>
                        </mat-form-field>

                        <div class="container ">
                            <button mat-raised-button color="primary" class="espacamento">Login</button>
                            <button mat-raised-button color="accent" class="espacamento">Cancelar</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>
