<%- include('./includes/head.ejs') %>  <!--  o - faz o escape para o html, o = protege contra ataques pq nao rederiza o codigo html-->
</head>

<body>
    <%- include('./includes/navigation.ejs') %>
    <h1>Page Not Found!</h1>
<%- include('./includes/end.ejs') %>