
<mat-toolbar color="primary">
    <a [routerLink]='"/"' mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a>

    <span>Portal de Exames</span>
    <span class="example-spacer"></span>

    <a  [routerLink]='"/login"' *ngIf="!loginService.isLoggedIn() " mat-button>
     Login
    </a>

    <a [routerLink]='"/signup"'  *ngIf="!loginService.isLoggedIn()"  mat-button >
      Registre-se
    </a>

    <a  [routerLink]='"/login"' (click)="logOut()" *ngIf="loginService.isLoggedIn()"  mat-button >
      
        Logout
  
    </a>

    <a *ngIf="loginService.isLoggedIn()"  mat-button >
     Perfil: {{ loginService.getUser().username}}
    </a>

  </mat-toolbar>
  